{% extends "graph_pages.html.j2" %}

{% block content %}
<div class="d-flex justify-content-center">
    <h2>{{target_guild[1]}}<h2> 
</div>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ date_axis }},
        datasets: [{
            responsive: true,
            label: '# of Message',
            data: {{ count_axis }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            tension: 0.1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        elements: {
            point: {
                radius: 0.1
            }
        },
        interaction: {
            mode: "x",
            intersect: false
        }
    }
});
</script>
{% endblock content %}