{% extends "graph_pages.html.j2" %}

{% block content %}
<div class="d-flex justify-content-center">
    <h2>{{target_guild[1]}}</h2> 
</div>
<div class="container">
    <canvas id="dailyGuildChart"></canvas>
    <br>
    <canvas id="monthlyGuildChart"></canvas>
    <br>
</div>
<div class="container">
<b>Total message count:</b> {{ message_count_per_date.values() | list | sum }}<br>
<b>Busyest date:</b> {{busyest_date}} with {{message_count_per_date[busyest_date]}} messages<br>
<b>Channels monitored:</b>
<ul>
{% for channel in channels %}
    <li><a href="/channel/{{channel[0]}}">#{{channel[1]}}</li></a>
{% endfor %}
<ul>
</div>

<script>
var dailyGuildChartctx = document.getElementById('dailyGuildChart');
var dailyGuildChart = new Chart(dailyGuildChartctx, {
    type: 'line',
    data: {
        labels: {{ message_count_per_date.keys() | list }},
        datasets: [{
            responsive: true,
            data: {{ message_count_per_date.values() | list }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            tension: 0.1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        elements: {
            point: {
                radius: 0.1
            }
        },
        plugins: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: "Message Count per Day"
            },
            tooltip: {
                displayColors: false,
                callbacks: {
                    label: function(context) {
                        return context.parsed.y + " messages";
                    }
                }
            }
        },
        interaction: {
            mode: "index",
            intersect: false
        }
    }
});
var monthlyGuildChartctx = document.getElementById('monthlyGuildChart');
var monthlyGuildChart = new Chart(monthlyGuildChartctx, {
    type: 'line',
    data: {
        labels: {{ message_count_per_month.keys() | list }},
        datasets: [{
            responsive: true,
            data: {{ message_count_per_month.values() | list }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            tension: 0.4
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        elements: {
            point: {
                radius: 0.1
            }
        },
        plugins: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: "Message Count per Month"
            },
            tooltip: {
                displayColors: false
            }
        },
        interaction: {
            mode: "index",
            intersect: false
        }
    }
});
</script>
<br>
{% endblock content %}