{% extends "graph_pages.html.j2" %}

{% block content %}
{% for guild_id in active_channels_guilds.keys() %}
<div class="d-flex justify-content-center">
    <h3 class="display-3">{{guild_id}}</h3> 
</div>
{% for channel_id in active_channels_guilds[guild_id] %}
{% set message_count_per_date = message_count_per_date_dict[channel_id] %}
{% set message_count_per_month = message_count_per_month_dict[channel_id] %}
<div class="container">
    <canvas id="dailyGuildChart-{{channel_id}}"></canvas>
    <br>
    <canvas id="monthlyGuildChart-{{channel_id}}"></canvas>
    <br>
</div>

<script>
var dailyGuildChartctx = document.getElementById('dailyGuildChart-{{channel_id}}');
var dailyGuildChart = new Chart(dailyGuildChartctx, {
    type: 'line',
    data: {
        labels: {{ message_count_per_date.keys() | list }},
        datasets: [{
            responsive: true,
            data: {{ message_count_per_date.values() | list }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            tension: 0.1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        elements: {
            point: {
                radius: 0.1
            }
        },
        plugins: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: "Message Count per Day on {{channel_id}}"
            },
            tooltip: {
                displayColors: false,
                callbacks: {
                    label: function(context) {
                        return context.parsed.y + " messages";
                    }
                }
            }
        },
        interaction: {
            mode: "index",
            intersect: false
        }
    }
});
var monthlyGuildChartctx = document.getElementById('monthlyGuildChart-{{channel_id}}');
var monthlyGuildChart = new Chart(monthlyGuildChartctx, {
    type: 'line',
    data: {
        labels: {{ message_count_per_month.keys() | list }},
        datasets: [{
            responsive: true,
            data: {{ message_count_per_month.values() | list }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
            ],
            tension: 0.4
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        elements: {
            point: {
                radius: 0.1
            }
        },
        plugins: {
            legend: {
                display: false
            },
            title: {
                display: true,
                text: "Message Count per Month on {{channel_id}}"
            },
            tooltip: {
                displayColors: false,
                callbacks: {
                    label: function(context) {
                        return context.parsed.y + " messages";
                    }
                }
            }
        },
        interaction: {
            mode: "index",
            intersect: false
        }
    }
});
</script>
<br>
{% endfor %}
{% endfor %}
{% endblock content %}