<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    {% for _, plot in plots %}
      {{ plot[0] }}
    {% endfor %}
    <br />
    <br />
    Page generated at {{ html_render_date_string }}
  </body>
</html>