{% extends "base.html" %}

{% block content %}
  <h1 class="page-header">
    DiscoLog Monitoring for {{ summary["Guild name"] }} (#{{ summary["Channel name"] }})
  </h1>
  <div class="container">
    <h3 class="sub-header">
      Standings of yesterday
    </h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Messages count</th>
          <th>Nickname</th>
        </tr>
      </thead>
      <tbody>
        {% for elem in top10_yesterday %}
          <tr>
            <td>{{ loop.index }}.</td>
            <td>{{ elem[0] }}</td>
            <td>{{ elem[1] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3>Graphs</h3>
    <ul style="list-style-type:none">
      {% for plot_name in plots %}
        <li>
          <a href="{{ plots[plot_name][1] }}">{{ plots[plot_name][2] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

<!--
                  # Stats
                  with tag('h3'):
                      text("Stats")
#                     with tag("ul", ("style", "list-style-type:none")):
                      # for _, stat in self.stats.items():
                          # if stat[1] and stat[2]:
                              # with tag("li"):
                                  # with tag('a', href=stat[1]):
#                                         text(stat[2])
-->
