{% extends "base.html.j2" %}

{% block content %}
  <div class="container">
    <h2>Guild List:</h2>
    <ul style="list-style-type:none">
      {% for id_guild, guild in guild_channel_dict.items() %}
        <li><h4><a href={{ id_guild }}>
          {{ guild["Guild name"] }}
        </a></h4></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}