{% extends "base.html.j2" %}

{% block content %}
  <div class="container">
    <h2>Server List:</h2>
    <ul style="list-style-type:none">
      {% for id_server, server in server_channel_dict.items() %}
        <li><h4><a href={{ id_server }}>
          {{ server["Server name"] }}
        </a></h4></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}