<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/own.css">
    <title>Channel index for {{ server["Server name"] }}</title>
  </head>
  <body>
    <h1 class="page-header">
      <b>Channel index for {{ server["Server name"] }}</b>
    </h1>
    <div class="container">
      <h2>Channel List:</h2>
      <ul style="list-style-type:none">
        {% for channel in server["Channels"] %}
          <li><h4><a href={{ channel["Channel ID"] }}>
            #{{ channel["Channel name"]}}
          </a></h4></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
